.footer {
    flex-shrink: 0;
    background-color: #050e27;
}  

#contacts-container {
    margin-bottom: 20px;
}

#linkedin-button {
    background: #0e76a8 !important;
}

#github-button {
    background: #333 !important;
}

#email-button {
    background: #D44638 !important;
}