.homepage-mask {
    margin: 5% 0;
}

.homepage-background {
    position: relative;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.homepage-hero {
    position: absolute;
    z-index: 1;
    top: calc(50% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.arrow {
    height: 20px;
    text-align: center;
    margin: 3% 0;
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}